POSTGRES_DB=finance_db
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=finance_password
POSTGRES_PORT=5432

REDIS_PORT=6379

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=finance_db;Username=finance_user;Password=finance_password
Redis__ConnectionString=localhost:6379
